@font-face {
    font-family: 'Nunito', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap) ;
}

p, div {
    font-family: 'Nunito', sans-serif;
    font-size: large;
}

h1, h2, h3, h4, h4, h6 {
    font-family: 'Nunito', sans-serif;
}

.disclaimer {
    color: maroon;
}

.navbar-custom {
    background-color: rgb(147,164,180);
}

.banner {
    text-align: center;
    margin: 5vw;
    margin-bottom: 5em;
}

.holder {
    background-color: rgb(232,234,239);
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100vw;
}

.col-margins {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.container-custom{
    background-color: rgb(232,234,239);
    padding: 35px;
}

.centre {
    text-align: center;
}

.card-link a:hover {
    text-decoration: none;
}

.card-body {
    color: navy;
}

.filler {
    height: 100px;
}

.filler-small {
    height: 50px;
}

.search {
    width: 400px;
}

#test {
    height: 100px;
}


.footer {
    margin-top: 100px;
    width: 100vw;
    height: 50px;
    background-color: rgb(147,164,180);
    padding-top: 10px;
    padding-left: 20px;
    text-align: center;
}

.footer-text {
    margin-top: 5px;
}